/* Variables */
@gray_hover: #f9f9f9;
@base-green: #89d8b0;
@primary_font: "Helvetica Neue";

/* Styles */
body {
  font: 14px 'Robotic', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  font-weight: 300;
}

.login-page-wrapper {
  .background-image-login-page {
    position: absolute;
    background-image: url("../assets/markus-spiske-78531.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(1.2);
    @media screen and (max-width: 900px) {
      position: fixed;
    }
  }
  .login-button-label-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    h2 {
      font-size: 30px;
      color: black;
      font-weight: 200;
      font-family: @primary_font;
    }
    .spotify-icon-black {
      background-image: url("../assets/Spotify_Logo_RGB_Black.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 150px;
      height: 50px;
      margin: 25px auto;
    }
    .login-button {
      font-size: 15px;
      border-radius: 60px;
      border: none;
      padding: 20px 10px;
      background-color: black;
      color: white;
    }
    .login-button:focus {
      outline: none;
    }
    @media screen and (max-width: 1000px) {
      h2 {
        display: none;
      }
      .spotify-icon-black {
        width: 250px;
        height: 100px;
      }
      .login-button {
        font-size: 20px;
        padding: 35px 18px;
      }
    }
  }
}

.login-page-wrapper:after {
  display: table;
  content: '';
  clear: both;
}

.base-container {
  .header-container {
    background-color: @base-green;
    height: 113px;
    position: fixed;
    width: 100%;
  }
}

.before-tracklist-wrapper {
  text-align: center;
  position: relative;
  top: 15em;
  .before-tracklist {
    font-size: 35px;
    font-family: @primary_font;
    @media screen and (max-width: 700px) {
      font-size: 30px;
    }
  }
}

.home-page-wrapper {
  position: fixed;
  background-image: url("../assets/brandon-zack-425780.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 100%;
}

.link-to-search-page-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  .home-page-title {
    font-family: @primary_font;
    font-size: 40px;
    color: white;
    margin-bottom: 2em;
    @media screen and (max-width: 700px) {
      font-size: 30px;
    }
  }
  .link-to-search-page {
    padding: 30px 19px;
    color: white;
    background-color: rgba(171, 216, 192, 0.52);
    border-radius: 60px;
    font-size: 20px;
    font-weight: 400;
    font-family: @primary_font;
  }
  .link-to-search-page:hover {
    text-decoration: none;
    background-color: rgba(115, 175, 136, 0.67);
  }
}
.search-page {
  position: absolute;
  width: 70%;
  margin-left: 15%;
  @media screen and (max-width: 1367px) {
    width: 90%;
    margin-left: 5%;
  }
}

.search-bar-wrapper {
  margin-bottom: 10em;
  .search-input-wrapper {
    width: 109%;
    padding: 0;
    @media screen and (max-width: 500px) {
      width: 105%;
    }
  }
}

.search-input {
  margin-top: 3em;
  padding: 10px;
  width: 88%;
  @media screen and (max-width: 900px) {
    padding: 9px;
    width: 85%;
  }
}
.search-input:focus {
  outline: none;
}

.search-button {
  padding: 10px;
  top: 0;
  color: @base-green;
  background-color: white;
}

.search-button:hover {
  color: #004444;
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  outline: none;
}

.error-message-input {
  color: #9b063e;
  padding: 0;
}

.search-results-container {
  background-color: white;
  padding: 2em;
  border: solid 0.5px gainsboro;
  margin: 2em 0 2em 0;
  width: 100%;
  &:hover {
    background-color: @gray_hover;
  }
  @media screen and (max-width: 900px) {
    padding: 1em;
  }
}

.key-container,
.bpm-container,
.duration-container,
.pie-chart-container {
  margin-top: 2em;
  @media screen and (max-width: 900px) {
    left: -5em;
  }
  @media screen and (max-width: 700px) {
    left: -2em;
    padding: 0;
  }
}

.pie-chart-container {
  .pie-chart {
    @media screen and (min-width: 1355px) {
      margin-top: -12px;
      margin-bottom: 15px;
    }
  }
  .pie-chart-label {
    margin-top: 2em;
    font-size: 20px;
    font-family: @primary_font;
    @media screen and (min-width: 1355px) {
      margin-top: 15px;
      margin-left: -15px;
    }
    @media screen and (min-width: 900px) {
      margin-left: -25px;
    }
    @media screen and (max-width: 700px) {
      margin-top: 1em;
      font-size: 10px;
    }
  }
}

.bpm-label,
.duration-label {
  margin-top: 2em;
  font-size: 20px;
  font-family: @primary_font;
  @media screen and (max-width: 700px) {
    margin-top: 1em;
    font-size: 10px;
  }
}

.bpm-number,
.duration-number {
  font-size: 30px;
  font-family: @primary_font;
  @media screen and (max-width: 700px) {
    font-size: 20px;
  }
}

.preview-track {
  padding: 0;
  display: block;
  float: left;
  font-family: @primary_font;
  font-size: 15px;
}

.i-frame-container {
  iframe {
    max-width: 100%;
    min-width: 100%;
  }
}

.audio-preview-wrapper {
  .audio-preview {
    padding: 0;
    audio {
      height: 25px;
      width: 100%;
    }
  }
  @media screen and (max-width: 900px) {
    .audio-preview, .preview-track {
      display: none;
    }
  }
}

.not-found-page {
  position: absolute;
  top: 40%;
  left: 40%;
}

/* animation */

.arrow-up {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  color: @base-green;
  -webkit-animation:slide 4s infinite;
  -moz-animation:slide 4s infinite;
  animation:slide 4s infinite;
  @media screen and (max-width: 1367px) {
    top: 20%;
  }
  @media screen and (max-width: 1023px) {
    top: 30%;
  }
  @media screen and (max-width: 900px) {
    top: 23%;
  }
  @media screen and (max-width: 700px) {
    top: 60%;
  }
  @media screen and (max-width: 600px) {
    top: 40%;
  }
  @media screen and (max-width: 360px) {
    top: 50%;
  }
}


@-webkit-keyframes slide{
  0%, 30% {
    margin-top: 0;
  }

  10% {
    margin-top: 30px;
  }

  25% {
    margin-top: -80px;
  }
}
@-moz-keyframes slide{
  0%, 30% {
    margin-top: 0;
  }

  10% {
    margin-top: 30px;
  }

  25% {
    margin-top: -80px;
  }
}

@keyframes slide{
  0%, 30% {
    margin-top: 0;
  }

  10% {
    margin-top: 30px;
  }

  25% {
    margin-top: -80px;
  }
}
